:root {
--greadientangle: 45deg;
--gradientcolour1: rgb(0, 217, 255);
--gradientcolour2: rgb(171,0,255);
}

body{
display: flex;
font-family: 'Montserrat', sans-serif;
background: rgb(0,255,196);
background: linear-gradient(var(--greadientangle), var(--gradientcolour1) 0%, var(--gradientcolour2) 100%);
background-attachment: fixed;
background-origin: initial;
background-repeat: no-repeat;
transition: 0.3s;
}

.wrapper{
z-index: 2;
position: absolute;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-height: 100vh;
width: 100vw;
}

/*#region Start*/
#startdiv{
padding-left: 50px;
padding-right: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
transition: 2s;
}

.starttitle {
margin-bottom: 20px;
color: white;
font-size: 40px;
font-weight: 700;
letter-spacing: -0.025em;
}

.startsubtitle {
margin-bottom: 20px;
color: white;
font-size: 20px;
}

.pp{
flex-grow: 3;
}

#startbutton{
padding: 0.5rem;
border-radius: 3px;
border: 1px solid white;
color: white;
background: rgba(255, 255, 255, 0);
cursor: pointer;
transition: 0.3s;
}

#startbutton a{
 font-weight: 600;
}

#startbutton:hover{
background: white;
color: rgb(0, 132, 255);

}
/*#endregion Start*/

/*#region Registration Form*/
#regwrapper{
position: absolute;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-height: 100vh;
max-width: 100vw;
}

#divregistrationform{
opacity: 0%;
min-height: 100vh;
min-width: 500px;
background-color: rgba(255, 255, 255, 0.6);
transition: 2s;
margin-right: 1400px;

}

.title{
margin: 30px;
}

.title h1{
color: rgb(9, 15, 116);
font-size: 40px;
font-weight: 400;
letter-spacing: -0.025em;
}

p{
color: rgb(9, 15, 116);
font-size: 19px;
letter-spacing: -0.025em;
}

.line{
height: 2px;
background: rgb(9, 15, 116);
}

.error{
margin-left: 10px;
font-size: 14px;
color: red;
display: none;
}

.subtitle{
display: flex;
flex-direction: row;
}

.dis{
display: none;
}
/*#endregion Registration Form*/

/*#region Textbox*/
.textbox{
margin-left: 40px;
margin-right: 40px;
margin-bottom: 20px;
display: flex;
flex-direction: column;
}


.textbox input{
margin: 2px;
background: none;
border: none;
font-size: 15px;
height: 30px;
font-family: 'Montserrat', sans-serif;
color: rgb(6, 9, 63);
}

.textbox input:focus{
outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/*#endregion Textbox*/

/*#region Sex*/

.sex{
margin-left: 40px;
margin-right: 40px;
margin-bottom: 20px;
display: flex;
flex-direction: column;
}

.sex p{
margin-bottom: 10px;
}

.selectsex{
display: flex;
flex-direction: column;
}

.textsex{
font-size: 15px;
color: rgb(6, 9, 63);
letter-spacing: -0.030em;
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
margin-bottom: 6px;
}


/*#endregion Sex*/

/*#region Interest*/

.interest{
margin-left: 40px;
margin-right: 40px;
margin-bottom: 20px;
display: flex;
flex-direction: column;
}

.interest p{
margin-bottom: 10px;
}

.selectinterest{
display: flex;
flex-direction: column;
}

.textinterest{
font-size: 15px;
color: rgb(6, 9, 63);
letter-spacing: -0.030em;
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
margin-bottom: 6px;
}

/*#endregion Interest*/

/*#region Country*/

.country{
margin-left: 40px;
margin-right: 40px;
margin-bottom: 20px;
display: flex;
flex-direction: column;
}

#selectcountry {
width: 100%;
height: 30px;
font-size: 15px;
background: none;
color: rgb(6, 9, 63);
border: none;
font-family: 'Montserrat', sans-serif;
letter-spacing: -0.030em;
}

#selectcountry option{
border: none;
}

.country p{
margin-bottom: 10px;
}
/*#endregion Country*/

/*#region Textarea*/
.textarea{
margin-left: 40px;
margin-right: 40px;
margin-bottom: 15px;
display: flex;
flex-direction: column;
}


.textarea textarea{
margin: 2px;
background: none;
border: none;
font-size: 15px;
height: 70px;
font-family: 'Montserrat', sans-serif;
color: rgb(6, 9, 63);
resize: none;
}

.textarea textarea{
outline: none;
}
/*#endregion Textarea*/

/*#region Button*/
.divbutton{
margin-left: 40px;
margin-right: 40px;
margin-bottom: 20px;
}

#submitbutton{
width: 100%;
padding: 0.5rem;
border-radius: 3px;
border: 1px solid rgb(6, 9, 63);
font-family: 'Montserrat', sans-serif;
color: rgb(6, 9, 63);
background: rgba(255, 255, 255, 0);
cursor: pointer;
transition: 0.3s;
}

#submitbutton:hover{
background-color: rgb(6, 9, 63);
color: rgb(147, 252, 170);
}

/*#endregion Button*/

@media only screen and (max-width: 500px) {
#divregistrationform{
min-width: 100vw;
}
}