:root {
--greadientangle: 45deg;
--gradientcolour1: rgb(0, 217, 255);
--gradientcolour2: rgb(171,0,255);
}

body{
font-family: 'Montserrat', sans-serif;
min-height: 100vh;
background: rgb(0,255,196);
background: linear-gradient(var(--greadientangle), var(--gradientcolour1) 0%, var(--gradientcolour2) 100%);
transition: 0.3s;
}

.wrapper{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
}

/*#region Start*/
#startdiv{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: 1s
}

.starttitle {
margin-bottom: 20px;
color: white;
font-size: 40px;
font-weight: 700;
letter-spacing: -0.025em;
}

.startsubtitle {
margin-bottom: 20px;
color: white;
font-size: 20px;
}

#startbutton{
padding: 0.5rem;
border-radius: 3px;
border: 1px solid white;
color: white;
background: rgba(255, 255, 255, 0);
cursor: pointer;
transition: 0.3s
}

#startbutton a{
 font-weight: 600;
}

#startbutton:hover{
background: white;
color: rgb(0, 132, 255);

}
/*#endregion Start*/